<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>list of customers</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content style="width:90%">
   <ion-card *ngFor='let student of list' >
      <ion-icon name="person"></ion-icon>
      
      {{student.firstname}}
      {{student.lastname}}
      <ion-button style="float:right" name="deletehere" (click)="deleteStudent(student)">
        <ion-icon name="trash"></ion-icon>
     </ion-button>    
<br>
      {{student.birthdate}}<br>
      {{student.class}}<br>
      {{student.subject}}<br>
      {{student.teacher}}<br>
      
      <ion-icon name="pin"></ion-icon>
             {{student.address}}
             <br><br>
      <ion-button style="text-align:center" name="edit" (click)="onEdit(student)" >
                <ion-icon name="create"></ion-icon>
              </ion-button>    
    </ion-card>
     
        
  </ion-content>
  