<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>list of customers</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
  <h2>customerlist</h2>
          
    <ion-card *ngFor='let customer of list' >
            <ion-card-header> {{customer.id}}</ion-card-header> 
            {{customer.name}}| {{customer.email}}| {{customer.phone}}| 
             {{customer.address}}
    </ion-card>
        
        
  </ion-content>
  