<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>list of customers</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
   <ion-card *ngFor='let customer of list' >
      <ion-icon name="person"></ion-icon>
      <ion-button name="edit" (click)="onEdit(customer)" ><ion-icon name="create"></ion-icon></ion-button>
      {{customer.name}}
      <ion-button name="deletehere" (click)="deleteCustomer(customer)"><ion-icon name="trash"></ion-icon> </ion-button>    
<hr>
      <ion-icon name="mail"></ion-icon> {{customer.email}}<br>
      <hr>
      <ion-icon name="phone-portrait"></ion-icon> {{customer.phone}}<br>
      <hr>
      <ion-icon name="pin"></ion-icon>
             {{customer.address}}
             
    </ion-card>
        
        
  </ion-content>
  